.columns > div {
  display: flex;
  flex-direction: column;
}

.columns {
  h2 {
    font-size: var(--font-4);
    margin-block: 0 var(--space-2);
    font-weight: var(--calcite-font-weight-normal);
    line-height: 1.375;
    padding-block-start: 1.5rem;
  }

  p {
    margin-block: 0 var(--space-4);
    color: var(--calcite-ui-text-2);
  }

  & > div > .columns-text-col {
    padding: 35px 30px 45px;
    inline-size: 81%;
  }

  .button-container-wrapper {
    display: flex;
    align-items: center;
  }

  .button-container {
    margin-block-end: var(--space-4);
    margin-inline-end: var(--space-2);
  }
}

.columns img {
  inline-size: 100%;
}

.columns > div > div {
  order: 0;
}

.columns > div > .columns-img-col {
  order: 1;
}

.columns > div > .columns-img-col img {
  display: block;
}

.columns.calcite-mode-gray {
  background-color: var(--calcite-ui-foreground-2);
}

@media (width >= 859px) {
  .columns {
    & > div > .columns-text-col {
      padding-inline: 6.7% 0;
    }

    h2 {
      padding-block-start: 0;
    }
  }
}

@media (width >= 1024px) {
  .columns {
    block-size: 600px;
    align-items: center;
    display: flex;
    overflow: hidden;

    & > div {
      block-size: 100%;
      align-items: center;
      flex-direction: unset;
      justify-content: center;

      & > div {
        inline-size: 50vw;
        order: 1;
      }

      & > .columns-img-col {
        block-size: 100%;

        picture, img {
          block-size: 100%;
          object-fit: cover;
        }
      }

      & > .columns-text-col {
        padding: 35px 3.35% 45px;
        inline-size: 50vw;
      }
    }
  }
}
