.tabs {
  -webkit-font-smoothing: antialiased;

  calcite-tabs, calcite-carousel {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100vw;

    calcite-tab-nav {
      display: none;
    }

    calcite-tab, calcite-carousel-item {
      width: 100vw;
      position: relative;
      padding: 0;
    }

    p:first-child img {
      position: absolute;
      object-fit: cover;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
    }

    .buttons-wrapper {
      width: 90%;
      margin: auto;
      margin-top: 2rem;

      calcite-button {
        padding-bottom: 0.75rem;
        margin-bottom: 0.5rem;
        margin-right: 0.7rem;

        span {
          color: white;
        }
      }
    }

    .text-wrapper {
      --description-size: clamp(0.875rem, 0.8181rem + 0.2525vw, 1rem);
      --font-0: clamp(0.875rem, 0.8181rem + 0.2525vw, 1rem);
      --calcite-sans-family: "Avenir Next", "Avenir", "Helvetica Neue", sans-serif;
      --calcite-ui-text-2: #bfbfbf;
      --font-8: clamp(2.5rem, 1.8181rem + 3.0303vw, 4rem);

      padding: 0 5vw;
      padding-top: 4rem;

      p, h2 {
        width: 90%;
        font: 400 var(--font-0) / 1.5 var(--calcite-sans-family);
      }

      p:first-child {
        font-size: var(--font-0);
        font-weight: 600;
        text-transform: uppercase;
        color: var(--calcite-ui-text-2);
        margin: 0;
        margin-bottom: 0.5rem;
      }

      p:last-child {
        color: white;
        margin: 0;
        margin-bottom: 1.5rem;
      }

      h2 {
        font-weight: 600;
        color: white;
        font-size: var(--font-8);
        line-height: 1.375;
        margin: 0;
        margin-bottom: 0.6rem;
      }
    }

    p:last-child {
      margin-bottom: 0;
      display: flex;
      justify-content: center;

      picture {
        display: block;
        position: relative;
        width: 90vw;
        aspect-ratio: 1/1;
      }

      img {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
}

@media (width >= 1024px) {
  .tabs {
    calcite-tabs {
      calcite-tab-nav {
        display: block;
        width: 100vw;
      }
    }
  }
}