.large-content-stack.block {
  padding: 0;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;

  p.button-container {
    display: inline-block;
    margin-inline-end: var(--space-2);
    margin-block-end: var(--space-2);
  }

  .about-media-wrapper {
    margin: var(--space-10) auto 0;
    max-inline-size: 1050px;
    inline-size: 92%;
    position: relative;
  }

  .video-play-anchor {
    position: absolute;
    inset-block-start: 50%;
    inset-inline-start: 50%;
    transform: translate(-50%, -50%);
  }

  h2 {
    inline-size: 90%;
    margin: 0 auto;
    padding-block-start: var(--space-10);
    font-size: var(--font-8);
  }

  .about-media-wrapper > picture > img {
    display: block;
  }

  @media (width > 480px) {
    h2 {
      inline-size: 65%;
      max-inline-size: 600px;
    }
  }
}
